# About Dataset

The World's Top Military Strength Dataset is a comprehensive compilation of data gathered from various reliable sources, providing a detailed analysis and comparison of the military capabilities of countries worldwide. This dataset serves as a valuable resource for policymakers, researchers, defense analysts, and military enthusiasts, enabling them to assess and understand the relative strength and capacities of different nations' armed forces.

The World's Top Military Strength Dataset is continually updated and expanded to incorporate the latest information and developments. Users can benefit from the dataset's dynamic nature, staying informed about changes in military capabilities and staying up to date with emerging trends and technologies.

In [1]:


import pandas as pd
# loading data from csv file(read_csv) 
data=pd.read_csv("C:/Users/User7/Desktop/Research/Dataset/army-total-world.csv")
data

,country,activeDuty,paramilitary,reserves,total,population2022
0,China,2185000,660000,1170000,4015000,1448471.400
1,India,1455550,2526950,1155000,5137500,1406631.776
2,United States,1388100,0,844950,2233050,334805.269
3,North Korea,1280000,5889000,600000,7769000,25990.679
4,Russia,1014000,554000,2000000,3568000,145805.947
...,...,...,...,...,...,...
163,Haiti,150,50,0,200,11680.283
164,Iceland,0,250,0,250,345.393
165,Mauritius,0,2550,0,2550,1274.727
166,Costa Rica,0,9800,0,9800,5182.354
167,Panama,0,26000,0,26000,4446.964

# About Dataset

List of Army personnel in the world, and the population of the respective country.

In [2]:


import pandas as pd
# loading data from csv file(read_csv) 
data=pd.read_csv("C:/Users/User7/Desktop/Research/Dataset/List_of_countries_by_number_of_military_and_paramilitary_personnel_2023.csv")
data

,Country,Active military,Reserve military,Paramilitary,Total,"Per 1,000 capita\n(total)","Per 1,000 capita\n(active)"
0,Afghanistan,"250,000","75,000","170,000","495,000",14.2,7.2
1,Albania,"8,000",0,0,"8,000",2.6,2.6
2,Algeria,"130,000","150,000","187,200","467,200",11.2,3.1
3,Angola,"107,000",0,"10,000","117,000",3.9,3.5
4,Antigua and Barbuda,180,80,0,260,2.7,1.9
...,...,...,...,...,...,...,...
167,Venezuela,"123,000","8,000","220,000","351,000",11.1,3.9
168,Vietnam,"482,000","5,000,000","40,000","5,522,000",56.9,5.0
169,Yemen,"40,000",0,0,"40,000",1.4,1.4
170,Zambia,"15,100","3,000","1,400","19,500",1.2,0.9
171,Zimbabwe,"29,000",0,"21,800","50,800",3.6,2.1