# About Dataset

The World's Top Military Strength Dataset is a comprehensive compilation of data gathered from various reliable sources, providing a detailed analysis and comparison of the military capabilities of countries worldwide. This dataset serves as a valuable resource for policymakers, researchers, defense analysts, and military enthusiasts, enabling them to assess and understand the relative strength and capacities of different nations' armed forces.

The World's Top Military Strength Dataset is continually updated and expanded to incorporate the latest information and developments. Users can benefit from the dataset's dynamic nature, staying informed about changes in military capabilities and staying up to date with emerging trends and technologies.

In [2]:


import pandas as pd
# loading data from csv file(read_csv) 
data=pd.read_csv("C:/Users/91843/Desktop/Research/Dataset/army-total-world.csv")
data

,country,activeDuty,paramilitary,reserves,total,population2022
0,China,2185000,660000,1170000,4015000,1448471.400
1,India,1455550,2526950,1155000,5137500,1406631.776
2,United States,1388100,0,844950,2233050,334805.269
3,North Korea,1280000,5889000,600000,7769000,25990.679
4,Russia,1014000,554000,2000000,3568000,145805.947
...,...,...,...,...,...,...
163,Haiti,150,50,0,200,11680.283
164,Iceland,0,250,0,250,345.393
165,Mauritius,0,2550,0,2550,1274.727
166,Costa Rica,0,9800,0,9800,5182.354
167,Panama,0,26000,0,26000,4446.964

In [3]:

print(data.to_string())

                      country  activeDuty  paramilitary  reserves     total  population2022
0                       China     2185000        660000   1170000   4015000     1448471.400
1                       India     1455550       2526950   1155000   5137500     1406631.776
2               United States     1388100             0    844950   2233050      334805.269
3                 North Korea     1280000       5889000    600000   7769000       25990.679
4                      Russia     1014000        554000   2000000   3568000      145805.947
5                    Pakistan      654000        291000    550000   1495000      229488.994
6                        Iran      610000         40000    350000   1000000       86022.837
7                 South Korea      599000       3013500   3100000   6712500       51329.899
8                     Vietnam      482000       5040000   5000000  10522000       98953.541
9                       Egypt      438500        397000    479000   1314500      106156.692
10                    Myanmar      406000        107000         0    513000       55227.143
11                  Indonesia      395500        280000    400000   1075500      279134.505
12                     Brazil      366500        395000   1340000   2101500      215353.593
13                   Thailand      360850        138700    200000    699550       70078.203
14                     Turkey      355200        156800    378700    890700       85561.976
15                   Colombia      293200        187900     34950    516050       51512.762
16                  Sri Lanka      255000         92600      5500    353100       21575.842
17                      Japan      247150         14350     56000    317500      125584.838
18               Saudi Arabia      227000         24500         0    251500       35844.909
19                     Mexico      216000        111900     81500    409400      131562.772
20                    Ukraine      209000        102000    900000   1211000       43192.122
21                     France      203250        130800     41050    375100       65584.518
22                    Eritrea      201750             0    120000    321750        3662.244
23                    Morocco      195800         50000    150000    395800       37772.756
24                       Iraq      193000        148000         0    341000       42164.965
25                South Sudan      185000             0         0    185000       11618.511
26                    Germany      183500             0     30050    213550       83883.596
27                Afghanistan      178800         99000         0    277800       40754.388
28                     Israel      169500          8000    465000    642500        8922.892
29                      Syria      169000        100000         0    269000       19364.809
30                      Italy      165500        175750     18300    359550       60262.770
31                 Bangladesh      163050         63900         0    226950      167885.689
32                     Taiwan      163000         11800   1657000   1831800       23888.595
33             United Kingdom      148500             0     78600    227100       68497.907
34                Philippines      143100         62300    131000    336400      112508.994
35                    Nigeria      143000         80000         0    223000      216746.934
36                     Greece      142700          4000    221350    368050       10316.637
37                   Ethiopia      138000             0         0    138000      120812.698
38                   DR Congo      134250             0         0    134250       95240.792
39                    Algeria      130000        187200    150000    467200       45350.148
40                 Azerbaijan      126950         15000    330000    471950       10300.205
41                   Cambodia      124300         67000         0    191300       17168.639
42                  Venezuela      123000        220000      8000    351000       29266.991
43                      Spain      120350         75800     15150    211300       46719.142
44                     Poland      114050         75400         0    189450       37739.785
45                   Malaysia      113000        267200     51600    431800       33181.072
46                     Angola      107000         10000         0    117000       35027.343
47                      Sudan      104300        105000         0    209300       45992.020
48                     Jordan      100500         15000     65000    180500       10300.869
49                      Nepal       96600         15000         0    111600       30225.582
50                       Peru       81000         77000    188000    346000       33684.208
51                      Chile       77200         44700     40000    161900       19250.195
52                  Argentina       72100         31250         0    103350       46010.234
53                    Romania       69300         57000     50000    176300       19031.335
54                     Canada       67400          4500     35600    107500       38388.419
55               South Africa       65350             0     15050     80400       60756.135
56       United Arab Emirates       63000             0         0     63000       10081.785
57                    Lebanon       60000         20000         0     80000        6684.849
58                  Australia       58600             0     30100     88700       26068.792
59         Dominican Republic       56050         15000         0     71050       11056.370
60                  Singapore       51000          7400    252500    310900        5943.546
61                       Cuba       49000       1146500     39000   1234500       11305.652
62                 Uzbekistan       48000         20000         0     68000       34382.084
63                    Belarus       45350        110000    289500    444850        9432.800
64                     Uganda       45000          1400     10000     56400       48432.863
65                    Armenia       44800          4300    210000    259100        2971.966
66                       Oman       42600          4400         0     47000        5323.993
67                    Ecuador       40250           500    118000    158750       18113.361
68                      Yemen       40000             0         0     40000       31154.867
69                 Kazakhstan       39000         31500         0     70500       19205.043
70                   Bulgaria       36950             0      3000     39950        6844.597
71               Turkmenistan       36500          5000         0     41500        6201.943
72                    Tunisia       35800         12000         0     47800       12046.656
73                Netherlands       35400          5900      4500     45800       17211.447
74                    Bolivia       34100         37100         0     71200       11992.656
75                       Chad       33250         11900         0     45150       17413.580
76                     Rwanda       33000          2000         0     35000       13600.464
77                    Burundi       30050         21000         0     51050       12624.840
78                     Sweden       29750         21200         0     50950       10218.971
79                       Laos       29100        100000         0    129100        7481.023
80                   Zimbabwe       29000         21800         0     50800       15331.428
81                     Serbia       28150          3700     50150     82000        8653.016
82                    Hungary       27800         12000     20000     59800        9606.259
83                Ivory Coast       27400             0         0     27400       27742.298
84                   Portugal       27250         24700    211700    263650       10140.570
85                   Tanzania       27000          1400     80000    108400       63298.550
86                    Belgium       26300             0      5100     31400       11668.278
87                   Cameroon       25400          9000         0     34400       27911.548
88                El Salvador       24500         17000      9900     51400        6550.389
89                      Kenya       24100          5000         0     29100       56215.221
90                    Finland       23800         14200    216000    254000        5554.960
91                     Norway       23250             0     40000     63250        5511.370
92                    Austria       22050             0    125600    147650        9066.710
93             Czech Republic       21750             0         0     21750       10736.784
94                    Uruguay       21000          1400         0     22400        3496.016
95                    Georgia       20650          5400         0     26050        3968.738
96                  Lithuania       19850         14400      6700     40950        2661.708
97                    Somalia       19800             0         0     19800       16841.795
98                Switzerland       19550             0    196450    216000        8773.637
99                  Guatemala       18050         25000     63850    106900       18584.039
100                    Kuwait       17500          7100     23700     48300        4380.326
101                     Qatar       16500          5000         0     21500        2979.915
102                  Slovakia       15850             0         0     15850        5460.193
103                Mauritania       15850          5000         0     20850        4901.981
104                     Ghana       15500             0         0     15500       32395.450
105                   Croatia       15200          3000     18350     36550        4059.286
106                    Zambia       15100          1400      3000     19500       19470.234
107                    Cyprus       15000           750     50000     65750        1223.387
108                  Honduras       14950          8000     60000     82950       10221.247
109                   Denmark       14500             0     44000     58500        5834.950
110                  Paraguay       13950         14800    164500    193250        7305.843
111                   Senegal       13600          5000         0     18600       17653.671
112                Madagascar       13500          8100         0     21600       29178.077
113                      Mali       13000          7800         0     20800       21473.764
114                 Nicaragua       12000             0         0     12000        6779.100
115                Mozambique       11200             0         0     11200       33089.461
116              Burkina Faso       11200           250         0     11450       22102.838
117                Kyrgyzstan       10900          9500         0     20400        6728.271
118                    Malawi       10700          4200         0     14900       20180.839
119    Bosnia and Herzegovina       10500             0         0     10500        3249.317
120                  Djibouti       10450          2650         0     13100        1016.097
121     Republic of the Congo       10000          2000         0     12000        5797.805
122                   Namibia        9900          6000         0     15900        2633.874
123                    Guinea        9700          2600         0     12300       13865.691
124                  Mongolia        9700          7500    137000    154200        3378.078
125                   Ireland        9500             0      4050     13550        5020.199
126  Central African Republic        9150          1000         0     10150        5016.678
127                  Botswana        9000             0         0      9000        2441.162
128               New Zealand        9000             0      2300     11300        4898.203
129                Tajikistan        8800          7500         0     16300        9957.464
130                      Togo        8550           750         0      9300        8680.837
131              Sierra Leone        8500             0         0      8500        8306.436
132                   Bahrain        8200         11260         0     19460        1783.983
133                   Albania        8000             0         0      8000        2866.374
134           North Macedonia        8000          7600      4850     20450        2081.304
135                     Benin        7250          4800         0     12050       12784.726
136                  Slovenia        7250          5950      1500     14700        2078.034
137                    Brunei        7200           450       700      8350         445.431
138                   Estonia        7100             0     17500     24600        1321.910
139                    Latvia        6210             0     15900     22110        1848.837
140                     Niger        5300          5400         0     10700       26083.660
141                   Moldova        5150           900     58000     64050        4013.171
142                     Gabon        4700          2000         0      6700        2331.533
143             Guinea-Bissau        4450             0         0      4450        2063.367
144       Trinidad and Tobago        4050             0         0      4050        1406.585
145                   Jamaica        3950             0       980      4930        2985.094
146          Papua New Guinea        3600             0         0      3600        9292.169
147                      Fiji        3500             0      6000      9500         909.466
148                    Guyana        3400             0       670      4070         794.045
149                Montenegro        2350         10100         0     12450         627.950
150                   Liberia        2010             0         0      2010        5305.117
151                   Lesotho        2000             0         0      2000        2175.699
152                     Malta        1950             0       180      2130         444.033
153                  Suriname        1840             0         0      1840         596.831
154                    Belize        1500           150       700      2350         412.190
155         Equatorial Guinea        1450             0         0      1450        1496.662
156                   Bahamas        1300             0         0      1300         400.516
157                Cape Verde        1200             0         0      1200         567.678
158                Luxembourg         900           600         0      1500         642.371
159                    Gambia         800             0         0       800        2558.482
160                  Barbados         610             0       430      1040         288.023
161                Seychelles         420             0         0       420          99.426
162       Antigua and Barbuda         180             0        80       260          99.509
163                     Haiti         150            50         0       200       11680.283
164                   Iceland           0           250         0       250         345.393
165                 Mauritius           0          2550         0      2550        1274.727
166                Costa Rica           0          9800         0      9800        5182.354
167                    Panama           0         26000         0     26000        4446.964

In [4]:

print(data.head())

         country  activeDuty  paramilitary  reserves    total  population2022
0          China     2185000        660000   1170000  4015000     1448471.400
1          India     1455550       2526950   1155000  5137500     1406631.776
2  United States     1388100             0    844950  2233050      334805.269
3    North Korea     1280000       5889000    600000  7769000       25990.679
4         Russia     1014000        554000   2000000  3568000      145805.947

In [5]:

print(data.tail())

        country  activeDuty  paramilitary  reserves  total  population2022
163       Haiti         150            50         0    200       11680.283
164     Iceland           0           250         0    250         345.393
165   Mauritius           0          2550         0   2550        1274.727
166  Costa Rica           0          9800         0   9800        5182.354
167      Panama           0         26000         0  26000        4446.964

In [6]:

print(data.describe())

         activeDuty  paramilitary      reserves         total  population2022
count  1.680000e+02  1.680000e+02  1.680000e+02  1.680000e+02    1.680000e+02
mean   1.199320e+05  1.437658e+05  1.494214e+05  4.131192e+05    4.713149e+04
std    2.733041e+05  6.704519e+05  5.244440e+05  1.272817e+06    1.601753e+05
min    0.000000e+00  0.000000e+00  0.000000e+00  2.000000e+02    9.942600e+01
25%    9.412500e+03  0.000000e+00  0.000000e+00  1.441250e+04    4.300066e+03
50%    2.732500e+04  5.400000e+03  4.000000e+01  5.745000e+04    1.118101e+04
75%    1.233250e+05  3.131250e+04  5.270000e+04  2.521250e+05    3.454340e+04
max    2.185000e+06  5.889000e+06  5.000000e+06  1.052200e+07    1.448471e+06

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         168 non-null    object
 1   activeDuty      168 non-null    int64
 2   paramilitary    168 non-null    int64
 3   reserves        168 non-null    int64
 4   total           168 non-null    int64
 5   population2022  168 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 8.0+ KB
None

In [8]:
print(data.count())

country           168
activeDuty        168
paramilitary      168
reserves          168
total             168
population2022    168
dtype: int64

In [9]:
print(data.max())

country            Zimbabwe
activeDuty          2185000
paramilitary        5889000
reserves            5000000
total              10522000
population2022    1448471.4
dtype: object

In [10]:
print(data.min())

country           Afghanistan
activeDuty                  0
paramilitary                0
reserves                    0
total                     200
population2022         99.426
dtype: object

In [11]:
'''memory_usage() returns a Pandas Series having the memory usage of each column (in bytes) in a Pandas DataFrame.
By specifying the deep attribute as True, we can get to know the actual space being taken by each column'''

print(data.memory_usage())

Index              132
country           1344
activeDuty        1344
paramilitary      1344
reserves          1344
total             1344
population2022    1344
dtype: int64

In [18]:
''' loc[:] helps to access a group of rows and columns in a dataset, a slice of the dataset, as per our requirement.
For instance, if we only want the last 2 rows and the first 3 columns of a dataset, we can access them with the help of loc[:].
We can also access rows and columns based on labels instead of row and column number.'''

print(data.loc[0:4,['country','paramilitary','reserves']])

         country  paramilitary  reserves
0          China        660000   1170000
1          India       2526950   1155000
2  United States             0    844950
3    North Korea       5889000    600000
4         Russia        554000   2000000

In [20]:
'''value_counts() returns a Pandas Series containing the counts of unique values. 
Consider a dataset that contains customer information about 5,000 customers of a company.
value_counts() will help us in identifying the number of occurrences of each unique value in a Series.
It can be applied to columns containing data like State, Industry of employment, or age of customers.'''

print(data.value_counts())

country      activeDuty  paramilitary  reserves  total    population2022
Afghanistan  178800      99000         0         277800   40754.388         1
Pakistan     654000      291000        550000    1495000  229488.994        1
New Zealand  9000        0             2300      11300    4898.203          1
Nicaragua    12000       0             0         12000    6779.100          1
Niger        5300        5400          0         10700    26083.660         1
                                                                           ..
Germany      183500      0             30050     213550   83883.596         1
Ghana        15500       0             0         15500    32395.450         1
Greece       142700      4000          221350    368050   10316.637         1
Guatemala    18050       25000         63850     106900   18584.039         1
Zimbabwe     29000       21800         0         50800    15331.428         1
Name: count, Length: 168, dtype: int64

In [21]:
'''drop_duplicates() returns a Pandas DataFrame with duplicate rows removed. 
Even among duplicates, there is an option to keep the first occurrence (record) of the duplicate or the last. 
You can also specify the inplace and ignore_index attribute'''

print(data.drop_duplicates())

           country  activeDuty  paramilitary  reserves    total  \
0            China     2185000        660000   1170000  4015000
1            India     1455550       2526950   1155000  5137500
2    United States     1388100             0    844950  2233050
3      North Korea     1280000       5889000    600000  7769000
4           Russia     1014000        554000   2000000  3568000
..             ...         ...           ...       ...      ...
163          Haiti         150            50         0      200
164        Iceland           0           250         0      250
165      Mauritius           0          2550         0     2550
166     Costa Rica           0          9800         0     9800
167         Panama           0         26000         0    26000

     population2022
0       1448471.400
1       1406631.776
2        334805.269
3         25990.679
4        145805.947
..              ...
163       11680.283
164         345.393
165        1274.727
166        5182.354
167        4446.964

[168 rows x 6 columns]

# About Dataset

List of Army personnel in the world, and the population of the respective country.

In [2]:


import pandas as pd
# loading data from csv file(read_csv) 
data=pd.read_csv("C:/Users/User7/Desktop/Research/Dataset/List_of_countries_by_number_of_military_and_paramilitary_personnel_2023.csv")
data

,Country,Active military,Reserve military,Paramilitary,Total,"Per 1,000 capita\n(total)","Per 1,000 capita\n(active)"
0,Afghanistan,"250,000","75,000","170,000","495,000",14.2,7.2
1,Albania,"8,000",0,0,"8,000",2.6,2.6
2,Algeria,"130,000","150,000","187,200","467,200",11.2,3.1
3,Angola,"107,000",0,"10,000","117,000",3.9,3.5
4,Antigua and Barbuda,180,80,0,260,2.7,1.9
...,...,...,...,...,...,...,...
167,Venezuela,"123,000","8,000","220,000","351,000",11.1,3.9
168,Vietnam,"482,000","5,000,000","40,000","5,522,000",56.9,5.0
169,Yemen,"40,000",0,0,"40,000",1.4,1.4
170,Zambia,"15,100","3,000","1,400","19,500",1.2,0.9
171,Zimbabwe,"29,000",0,"21,800","50,800",3.6,2.1