In [1]:
import pandas as pd

Army=pd.read_csv("C:/Users/91843/Desktop/Research/Dataset/army-total-world.csv")
Army

,country,activeDuty,paramilitary,reserves,total,population2022
0,China,2185000,660000,1170000,4015000,1448471.400
1,India,1455550,2526950,1155000,5137500,1406631.776
2,United States,1388100,0,844950,2233050,334805.269
3,North Korea,1280000,5889000,600000,7769000,25990.679
4,Russia,1014000,554000,2000000,3568000,145805.947
...,...,...,...,...,...,...
163,Haiti,150,50,0,200,11680.283
164,Iceland,0,250,0,250,345.393
165,Mauritius,0,2550,0,2550,1274.727
166,Costa Rica,0,9800,0,9800,5182.354
167,Panama,0,26000,0,26000,4446.964